<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="charlie.marshall.pfsense"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.permission.INTERNET"
        android:required="false" />

    <!-- Check if the phone has a network connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="charlie.marshall.pfsense.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="charlie.marshall.pfsense.MyPreferenceActivity"
            android:label="Settings" />
        <activity
            android:name="charlie.marshall.pfsense.IndexActivity"
            android:label="Menu" />
        <activity
            android:name="charlie.marshall.pfsense.SubIndexActivity"
            android:label="Sub Menu" />
        <activity
            android:name="charlie.marshall.pfsense.SystemActivityActivity"
            android:label="System Activity" />
        <activity
            android:name="charlie.marshall.pfsense.WolActivity"
            android:label="Wake on LAN" />
        <activity
            android:name="charlie.marshall.pfsense.InterfacesActivity"
            android:label="Wake on LAN" />
        <activity
            android:name="charlie.marshall.pfsense.DnsActivity"
            android:label="DNS Lookup" />
        <activity
            android:name="charlie.marshall.pfsense.PingActivity"
            android:label="Ping" />
        <activity
            android:name="charlie.marshall.pfsense.AliasActivity"
            android:label="Aliases" />
        <activity
            android:name="charlie.marshall.pfsense.SystemInterfacesActivity"
            android:label="Interfaces" />
        <activity
            android:name="charlie.marshall.pfsense.LimiterInfoActivity"
            android:label="Limiter Info" />
        <activity
            android:name="charlie.marshall.pfsense.pfInfoActivity"
            android:label="pfInfo" />
        <activity
            android:name="charlie.marshall.pfsense.pfTopActivity"
            android:label="pfTop" />
        <activity
            android:name="charlie.marshall.pfsense.ServicesActivity"
            android:label="Services" />
        <activity
            android:name="charlie.marshall.pfsense.ViewServiceActivity"
            android:label="Service" />
        <activity
            android:name="charlie.marshall.pfsense.TracerouteActivity"
            android:label="Traceroute" />
        <activity
            android:name="charlie.marshall.pfsense.ArpActivity"
            android:label="Arp Table" />
        <activity
            android:name="charlie.marshall.pfsense.ViewArpActivity"
            android:label="View Arp entry" />
        <activity
            android:name="charlie.marshall.pfsense.AuthenticationActivity"
            android:label="Authentication" />
        
    </application>

</manifest>